<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/styles_home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

</head>

<body onload="load_panel()">

    <div id="container">
        
        <div class="processor" >
            <h1>SQL</h1>
            
            <div class="SQL">
                <a>SELECT</a>
                <select class="sql-textarea" id="field-area" placeholder="SQL...." multiple></select>
                <a>FROM</a>
                <select class="sql-textarea" id="table-area" placeholder="SQL...." onchange="setup_field_name()"></select>
            </div>
            <div class="SQL">
                <a>WHERE</a>
                <select class="sql-textarea" id="con-field-area" placeholder="SQL...." ></select>
                <a>=</a>
                <textarea type="text" class="sql-textarea" id="param-area" placeholder="Paramenter"></textarea>
                

            </div>
            <label class="switch">
                <input type="checkbox" id="join-SQL-toggle" onclick="toggle_join()">
                <span class="slider round"></span>
            </label>
            <div class="SQL join-SQL" >
                <a>JOIN&nbsp</a>
                <select class="sql-textarea" id="join-table-area" placeholder="SQL...."  onchange="join_table_update()"></select>
                <a>&nbspON&nbsp</a>
            </div>
            <div class="SQL join-SQL" >
                <a id="current-table"></a>
                <select class="sql-textarea" id="current-field-area" placeholder="SQL...." ></select>
                <a>&nbsp=&nbsp</a>
                <a id="join-table"></a>
                <select class="sql-textarea" id="join-field-area" placeholder="SQL...."></select>
            </div>
            <button onclick="submit_command()">Submit</button>
            <a id="log"></a>
            <a id="log2"></a>
            <div id="log-table"></div>
        </div>
        
            
        
        <button onclick="return_room()">Back room</button>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='home_event_script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>


</body>
</html>
