<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <label for="open_menu_button" style="font-size: 50px;color: aliceblue; margin-left: 10px;">☰</label>
        <input type="button" onclick="menu_open()" class="sidebar-item" id="open_menu_button" style="display: none;"></button>
    </div>
    <h1>Chat Room</h1>
    <h1>Room Code: <span id="room-code"></span></h1>
    <div id="overlay-setting">
        <div id="setting-layer">
            <div id="setting-layout">
                <div id="personal-setting">
                    <div id="theme-setting" class="setting-section" >
                        <a>Theme setting</a>
                        <div class="switch-toggle">
                            <input id="dark-theme" name="theme-setting-button" class="setting-button" type="radio" style="display: none;" onclick="set_dark_theme()" checked>
                            <label for="dark-theme" class="setting-button">dark</label>
                            
                            <input id="bright-theme" name="theme-setting-button"  class="setting-button" type="radio" style="display: none;" onclick="set_bright_theme()">
                            <label for="bright-theme"class="setting-button">bright</label>
                        </div>
                    </div>
                    <div id="font-size-setting" class="setting-section">
                        <a>Font size setting</a>
                        <label></label>
                        <input id="font-size" type="number" max="30" min="13" onchange="set_font_size(document.getElementById('font-size').value)" value="18">
                    </div>
                    <button onclick="save_setting()">Save Change</button>
                </div>
                <div id="change-username" class="setting-section" autocomplete="off">
                    <a>Change Username</a>
                    <input type="text"  id="Current-username" placeholder="Current Username" autocomplete="off" readonly onclick="this.removeAttribute('readonly');">
                    <input type="text" id="New-username" placeholder="New Username" autocomplete="off" readonly onclick="this.removeAttribute('readonly');">
                    <button id="Username-change-button" onclick="ChangeUserName()">Save change</button>

                </div>
                <div id="change-password" class="setting-section">
                    <a>Change Password</a>
                    <input type="password"  id="Current-password" placeholder="Current Password" autocomplete="off" readonly onclick="this.removeAttribute('readonly');">
                    <input type="password" id="New-password" placeholder="New Password" autocomplete="off" readonly onclick="this.removeAttribute('readonly');">
                    <button id="Password-change-button" onclick="ChangePassword()">Save change</button>

                </div>
                <div id="change-email" class="setting-section">
                    <a>Change Email</a>
                    <input type="email" id="New-email" placeholder="New Email" autocomplete="off" readonly onclick="this.removeAttribute('readonly');">
                    <button id="Email-change-button" onclick="send_ver_email()">Send Verification Code</button>
                    <input id="Verification-code" placeholder="Enter the code" style="display: none;">
                    <button id="email-confirmation-button"onclick="check_ver_code()" style="display: none;">Save Change</button>
                </div>
                <button onclick="setting_off() ">Exit</button>
            </div>
        </div>
    </div>
    <div id="sidebar" class="w3-sidebar">
        <label>User:</label>
        <label id="Username-display">Username</label>
        <button onclick="menu_close()" class="sidebar-item">Close &times;</button>
        
        <div style="margin: 30px;"></div>
        <label for="setting" class="sidebar-option-item">Setting </label>
        <input type="radio" id="setting" onclick="setting_on()" style="display: none;">
        <label for="admin" class="sidebar-option-item" id="admin-label">Admin</label>
        <input type="radio" id="admin" onclick="direct_to_adminP()" style="display: none;">

        <div style="margin: 30px;"></div>
        
        <label for="leave-room" class="sidebar-option-item">Leave Room</label>
        <input type="radio" id="leave-room" onclick="leave_room()" style="display: none;">

        <div style="margin: 30px;"></div>
        <label for="logout" class="sidebar-option-item">Log out</label>
        <input type="radio" id="logout" onclick="logout()" style="display: none;">
    </div>
    <div id="content-wrapper">
        <div id="chat-box"></div>
        <div id="content_central">
        
            <input type="text" id="message" placeholder="Type a message">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index_event.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='setting.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='setup.js') }}"></script>
</body>
</html>
