<!-- mainly for meta data-->>

<!DOCTYPE html>
<html>
<head>
    <!-- Meta tags for proper character encoding and responsive design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Self developed Encrytped algorithms Chat Room">
    <meta name="keywords" content="Encrypted,chat room,secure,self-developed,new,hacker-theme">
    <meta name="author" content="Eason Ma">
    <title>Really Secure Encrypted Chat Room </title>
    <link rel="icon"  href="/favicon.ico">
</head>
<body onload="document.location.href = '/login'"></body><!-- Direct to login page-->
</html>